<h2>Employee Database</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>No.</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email Id</th>
            <th>Actions</th>
          </tr>
    </thead>
<tbody>
    <tr *ngFor= "let emp of employees">
        <td>{{emp.id}}</td>
        <td>{{emp.firstName}}</td>
        <td>{{emp.lastName}}</td>
        <td>{{emp.emailId}}</td>
        <td><button class="btn btn-primary" (click)="updateEmployee(emp.id)">Update</button></td>
        <td><button class="btn btn-danger" (click)="deleteEmployee(emp.id)">Delete</button></td>

    </tr>
</tbody>
  </table>