<div class="container" style="width: 50%;">
    <form class="form-group">
        <div>
          <label>First Name</label>
          <input [(ngModel)]= employee.firstName name="firstName" class="form-control"  placeholder="Enter first name">
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input [(ngModel)]= employee.lastName name="lastName" class="form-control"   placeholder="Enter last name">
          </div>
          <div class="form-group">
            <label >Email ID</label>
            <input [(ngModel)]= employee.emailId name="emailId" class="form-control"  placeholder="Enter email">
          </div>
    <div style="margin-top: 10px;">
        <button type="submit" (click)="updateEmployee(employee.id, employee)"class="btn btn-primary">Update</button>
    </div>
      </form>

</div>
